@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url('/public/jumbotron.jpg');
  background-size: cover;
  background-position: center;
}

/* .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-item.active {
  display: block;
} */

/* .carousel-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
} */